
<h1><%= @cocktail.name %></h1>

<h3 style="text-align">Recipe:</h3>

<div class="ingredient">
  <% @cocktail.doses.each do |dose| %>
    <div>
      <%= dose.ingredient.name%> || <%= dose.description %> || <%= link_to 'â—', dose_path(dose), method: :delete%>
    </div>
  <% end %>
</div>




<%= render 'doses/form' %>


 <div class="link">
   <p> <%= link_to "Back to homepage", cocktails_path %></p>
 </div>





